*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    body{
        height: 100vh;
        display: grid;
        grid-template-rows: 18rem auto ;
    }

    body .background-1{
        background-image: url('./images/bg-main-mobile.png');
        background-size: cover;
    }
    
    main{
        height: 100vh;
        width: 100vw;
        position: absolute;
        display: grid;
        grid-template-rows: 20rem auto;
    }
    
    main .card{
        position: absolute;
        height: 11rem;
        width: 80%;
        border-radius: 8px;
    }
    
    main .card-front{
        background-image: url('./images/bg-card-front.png');
        background-size: contain;
        background-repeat: no-repeat;
        transform: translate(5%, 10rem);
    }
    
    main .card-back{
        background-image: url('./images/bg-card-back.png');
        background-size: contain;
        background-repeat: no-repeat;
        transform: translate(20%, 3rem);
        
    }

    main form{
        display: flex;
        flex-direction: column;
        padding: 2rem;
        /* display: flex; */
    }

    form h1{
        font-size: 1rem;
        margin-bottom: 10px;
    }
    form input{
        padding: 15px;
        padding-top: 1.4rem;
        padding-bottom: 1.4rem;
        outline: none;
        
        font-size: 1.1rem;
        height: 2.6rem;
        width: 100%;
        margin-bottom: 10px;
     }

     form .details{
        display: flex;
     }

     /* form .details .date{
        display: flex;
     } */
}